body{
    width: 100%;
    margin: 0;
    font-family: Arial;
}
a{
    color: white;
    text-decoration: none;
}
.header-wrapper{
    width: 100%;
    background-color: #0093D0;

}

.header-menu-wrapper{
    width: 100%;
    position: relative;
}
header{
    max-width: 1200px;
    height: 100px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: white;
    justify-content: space-between;
    font-size: .9rem;
    position: relative;
    z-index: 9;
    font-family: Arial;
}
.header-menu ul{
    display: flex;
}
.header-menu li{
    margin-left: 17px;
    margin-right: 17px;
    font-size: 1rem;
    font-family: Arial;
    letter-spacing: 1px;
    cursor: pointer;
}
.header-menu li:hover{
    color:black;
}
header select{
    background: none;
    border: none;
    color: white;
    font-family: Arial;
    font-size: 1rem;
    cursor: pointer;
    letter-spacing: 1px;
}
header option{
    background: none;
    color: black;
}
.laguage-select{
    padding-right: 10px;
}
.phone-select{
    padding-right: 10px;
}

.bread-crumbs{
    width: 100%;
    background: #E5E5E5;
}

.container-bread-crumbs{
    padding-top: 14px;
    padding-bottom: 13px;
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: start;
}

.describe-page{
    font-family: Montserrat;
    font-size: 20px;
    text-transform: capitalize;
    color: #535353;
    margin-right: 2px;
}

.describe-expage{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-transform: capitalize;
    color: #000000;
    margin-left: 7px;
}


.container-name-page{
    max-width: 1200px;
    margin: 0px auto;
    z-index: 3;
    position: relative;
}

.name-page{
    width: 100%;
    height: 40vh;
    background-image: url("../images/page-about-company/Mask Group.png");
    background-repeat: no-repeat ;
    position: relative;
}

.article-name{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 3;
    line-height: 40vh;
}


.name-page:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
    z-index: 1;
}

.articles{
    width: 100%;
}

.articles-container{
    max-width: 1200px;
    margin: 0px auto;
}

.describe-article{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    text-transform: uppercase;
    color: #000000;
    padding-top: 104px;
}

.text-article{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-transform: capitalize;
    color: #000000;
    padding-top: 30px;
}

.wrapper-feedback{
    width: 100%;
    position: absolute;
    z-index: 4;
    top: -224px;
}

.feedback-container{
    max-width: 1200px;
    margin: 0px auto;
}

.title-feedback{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.feedback{
    width: 100%;
    background: #0093D0;
    padding-bottom: 56px;

}

.title-feedback{
    padding-top: 52px;
    padding-bottom: 46px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

input{
    border: none;
    background: none;
}

.form-feedback input{
    border-bottom:1px solid white;
}

.input-wrapper{
    display: flex;
    justify-content: space-around;
}


.feedback-button{
    margin: 0px auto;
    width: 146px;
    padding: 14px 6px;
    background: #F57220;
    margin-top: 44px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 140.4%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-map-info{
    width: 100%;
    display: flex;
    height: 800px;
    position: relative;
    margin-top: 460px;
}

.map{
    width: 100%;
}
.map-info{
    width: 100%;
    background: #F57220;
}

.map-info{
    position: relative;
}

.fly-map{
    position: absolute;
    top: -30px;
    left: 55px;
}

.work-time{
    display: flex;
    padding: 20px;
}

.title-footer{
    padding-top: 270px;
    padding-left: 20px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: #FFFFFF;
}

.img-time{
    margin-right: 26px;
}

.text-time{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
}

.hours-time{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
}

.icons-footer{
    display: flex;
    justify-content: space-between;
    width: 30%;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
}


.viber{
    width: 35px;
    height: 35px;
}

.facebook{
    width: 21px;
    height: 21px;
}
.instagram{
    width: 21px;
    height: 21px;
}
.telegram{
    width: 21px;
    height: 21px;
}

.footer-wrapper{
    width: 100%;
    background-color: #0093D0;

}

.footer-menu-wrapper{
    width: 100%;
    position: relative;
}
footer{
    height: 100px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: white;
    justify-content: space-between;
    font-size: .9rem;
    position: relative;
    z-index: 9;
    font-family: Arial;
}
.footer-menu ul{
    display: flex;
}
.footer-menu li{
    margin-left: 17px;
    margin-right: 17px;
    font-size: 1rem;
    font-family: Arial;
    letter-spacing: 1px;
    cursor: pointer;
}
.footer-menu li:hover{
    color:black;
}
footer select{
    background: none;
    border: none;
    color: white;
    font-family: Arial;
    font-size: 1rem;
    cursor: pointer;
    letter-spacing: 1px;
}
footer option{
    background: none;
    color: black;
}

#first_article{
    position: relative;
}

#last_article{
    position: relative;
}

.plane_first-article{
    position: absolute;
    left: 91%;
}

.point_first-article{
    position: absolute;
    left: -393px;
    top: -65px;
}

.plane_last-article{
    position: absolute;
    left: 88%;
    top: -76%;
}

.point_last-article{
    position: absolute;
    left: -30%;
    top: -90%;
}



input[type="tel"]::-webkit-input-placeholder { color: white; }
input[type="tel"]:-ms-input-placeholder { color: white; }
input[type="tel"]::-ms-input-placeholder { color: white; }
input[type="tel"]::placeholder { color: white; }

input[type="text"]::-webkit-input-placeholder { color: white; }
input[type="text"]:-ms-input-placeholder { color: white; }
input[type="text"]::-ms-input-placeholder { color: white; }
input[type="text"]::placeholder { color: white; }

input[type="email"]::-webkit-input-placeholder { color: white; }
input[type="email"]:-ms-input-placeholder { color: white; }
input[type="email"]::-ms-input-placeholder { color: white; }
input[type="email"]::placeholder { color: white; }

@media (max-width: 1440px) {
    .plane_first-article {
        position: absolute;
        left: 83%;
        top: 100%;
        width: 315px;
    }

    .point_first-article {
        position: absolute;
        left: -10%;
        top: 36%;
        width: 160px;
    }

    .plane_last-article {
        position: absolute;
        left: 83%;
        top: -53%;
        width: 324px;
    }

    .point_last-article {
        position: absolute;
        left: -10%;
        top: -68%;
        width: 160px;
    }


    .describe-article {
        font-size: 35px;
    }

    .text-article {
        font-size: 15px;
    }

}

@media (max-width: 1024px) {

    .plane_first-article {
        display: none;
    }

    .plane_last-article {
        display: none;
    }

    .point_first-article {
        display: none;
    }

    .point_last-article {
        display: none;
    }


    .container-bread-crumbs {
        padding: 10px;
    }

    .articles-container {
        padding: 17px;
    }

    .fly-map {
        display: none;
    }

    .title-footer {
        padding: 20px;
    }

    footer {
        padding: 10px;
    }

    .article-name {
        padding-left: 10px;
    }

    .footer-map-info {
        flex-direction: column;
        height: auto;
    }

    .wrapper-feedback {
        width: 100%;
        position: relative;
        top: 0px;
    }

    .map {
        width: 100%;
        height: 500px;
    }

    .map-info {
        width: 100%;
        background: #F57220;
    }

    .input-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 350px;
        margin: 0px auto;
    }

    .form-feedback input {
        border-bottom: 1px solid white;
        margin-bottom: 25px;
    }

}

@media (max-width: 768px) {

        .fly-map {
            display: none;
        }

    .input-wrapper {
        display: flex;
        flex-direction: column;
        max-width: 350px;
        margin: 0px auto;]
    }

    .form-feedback input {
        border-bottom: 1px solid white;
        margin-bottom: 25px;
    }

    footer {
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 1px;
        color: white;
        justify-content: space-between;
        font-size: .9rem;
        position: relative;
        z-index: 9;
        font-family: Arial;
        align-items: flex-start;
    }

    .footer-menu ul {
        display: flex;
        flex-direction: column;
    }

    .footer-menu li {
        padding-bottom: 10px;
    }

    .map-info {
        width: 100%;
        background: #F57220;
    }


}

@media (max-width: 425px) {
    header {
        display: none;
    }

    .article-name {
        font-size: 40px;
    }

    .footer-map-info {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .wrapper-feedback {
        width: 100%;
        padding-top: 0px;
        position: relative;
        z-index: 4;
        top: 0px;
    }

    .footer-map-info {
        height: auto;
    }

    .map-info {
        padding: 0px;
    }

    .title-footer {
        padding-top: 20px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        color: #FFFFFF;
    }
    .map {
        width: 100%;
        height: 500px;
    }
}

@media (max-width: 320px){
    .article-name {
        font-size: 35px;
    }
}